Repository sei40kr/yong-ju.me: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

Fix deploy script
  .travis.yml
Due: none

Add empty test
  package.json
Due: none

Update Travis script
  .travis.yml
Due: none

Update README
  README.md
Due: none

Update timeline view
  src/components/ExperienceItem/index.tsx
Due: prettier --write, tslint --fix

Update layout styles
  src/layouts/index.scss
Due: none

Fix precommit hook
  package.json
Due: none

Add gatsby-image
  gatsby-config.js
  package.json
  src/components/Jumbotron/index.scss
  src/components/Jumbotron/index.tsx
  src/images/jumbotron-bg.png
  src/layouts/index.scss
  src/pages/index.tsx
  yarn.lock
Due: prettier --write, tslint --fix

Fix NPM script
  package.json
Due: none

Fix a Jumbotron component
  src/components/Jumbotron/index.scss
  src/components/Jumbotron/index.tsx
Due: prettier --write, tslint --fix

Add prettier
  package.json
  yarn.lock
Due: none

Make some render methods private
  src/pages/index.tsx
Due: prettier --write, tslint --fix

Improve the Jumbotron image quality
  src/pages/index.tsx
Due: prettier --write, tslint --fix

Add an experience
  gatsby-config.js
Due: prettier --write

Set card radius to 0 (no radius)
  src/components/card.scss
  src/components/project.scss
Due: none

Add .codeclimate.yml
  .codeclimate.yml
Due: none

Replace README.md with README.org
  README.md
  README.org
Due: none

Add husky, prettier, pretty-quick
  package.json
  yarn.lock
Due: none

Set title using react-helmet
  package.json
  src/pages/index.tsx
  yarn.lock
Due: prettier --write, tslint --fix

Add links for my social accounts
  src/components/jumbotron.scss
  src/components/jumbotron.tsx
Due: prettier --write, tslint --fix

Adjust font size in the jumbotron
  src/components/jumbotron.scss
Due: none

Update project information
  gatsby-config.js
Due: prettier --write

Fix gatsby-plugin-typography config
  gatsby-config.js
Due: prettier --write

Add links into the jumbotron
  src/components/jumbotron.tsx
Due: prettier --write, tslint --fix

Update skills
  gatsby-config.js
Due: prettier --write

Add borders onto the top of skill cards
  src/components/skill.scss
  src/components/skill.tsx
Due: prettier --write, tslint --fix

Update the Firebase configurations
  .firebaserc
  .travis.yml
  firebase.json
  storage.rules
Due: none

Remove the Firabase Storage configuration
  firebase.json
Due: none

refactor: migrate gatsby v2 -> v4 & major refactors
  .storybook/addons.js
  .storybook/config.ts
  .storybook/preview-head.html
  .storybook/webpack.config.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/card.module.css
  src/components/card.tsx
  src/components/jumbotron.scss
  src/components/jumbotron.tsx
  src/components/project.scss
  src/components/project.tsx
  src/components/section.scss
  src/components/section.tsx
  src/components/skill.scss
  src/components/skill.tsx
  src/pages/index.scss
  src/pages/index.tsx
  stories/jumbotron.stories.tsx
  stories/project.stories.tsx
  stories/section.stories.tsx
  stories/skill.stories.tsx
  stylelint.config.js
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write, tslint --fix

chore: install eslint
  .eslintrc.js
  package-lock.json
  package.json
  src/pages/index.tsx
Due: prettier --write, tslint --fix

fix: install missing dep, fs-extra
  package-lock.json
  package.json
Due: none

chore: remove storybook npm scripts
  package.json
Due: none

chore: update npm scripts
  package.json
Due: none

fix: resolve eslint errors
  .eslintrc.js
  src/components/jumbotron.tsx
  src/pages/index.tsx
Due: prettier --write, tslint --fix

docs: update readme
  README.md
  README.org
Due: none

Path conditions:
  prettier --write: ((any of: gatsby-config.js) or (any of: src/**/*.{d.ts,ts,tsx})) or (any of: src/**/*.{scss})
  tslint --fix: any of: src/**/*.{d.ts,ts,tsx}
  stylelint --fix: any of: src/**/*.{scss}
